<a href="/">+Create</a>|<a href="/user/index">List</a>|<a href="/user/update/<%= model.id %>">Update</a>
         <h2>View <%=model.name%></h2>
         <ul>
       <li>Name:<%=model.name %></li>
       <li>Age:<%=model.age %></li>
         </ul>